#jinja2: lstrip_blocks: True
version: '2'
services:
  web:
    image: {{_name}}:{{version}}
    container_name: {{fullinstancename}}
    networks:
      - frontend
      - default
    depends_on:
        - db
    restart: unless-stopped
    volumes:
        - vol_{{fullinstancename}}_addons:/opt/{{instancename}}_odoo{{version|int}}/extra-addons
        - {{xayma_odoo_paths.config}}/odoo.conf:/etc/odoo/odoo.conf
        - {{xayma_odoo_paths.logs}}:/opt/{{instancename}}_odoo{{version|int}}/logs
      
  db:
    image: postgres:10
    container_name: {{fullinstancename_db}}
    environment:
      - POSTGRES_DB=xayma
      - POSTGRES_PASSWORD={{credentials.postgres_password}}
      - POSTGRES_USER={{credentials.postgres_user}}
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - vol_{{fullinstancename}}_pgdata:/var/lib/postgresql/data/pgdata

volumes:
  vol_{{fullinstancename}}_pgdata:
  vol_{{fullinstancename}}_addons:


networks:
  frontend:
    external:
      name: {{ xayma.frontend }}
    