#jinja2: lstrip_blocks: True
version: '3'
services:
  web:
    image: {{_name}}:{{version}}
    container_name: {{fullinstancename}}
    networks:
      - frontend
      - default
    depends_on:
        - db
    restart: unless-stopped
    volumes:
        - {{ addons_volume }}:/opt/extra-addons
        - {{xayma_odoo_paths.config}}/odoo.conf:/etc/odoo/odoo.conf
        - {{xayma_odoo_paths.logs}}:/opt/{{instancename}}_odoo{{version|int}}/logs
        - {{xayma_odoo_paths.datadir}}/sessions:/var/lib/odoo/.local/share/Odoo/sessions
        - {{xayma_odoo_paths.datadir}}/filestore:/var/lib/odoo/.local/share/Odoo/filestore
    {% if preferred_reverse_proxy == "traefik"%}
    labels:
        - traefik.enable=true
        - traefik.http.routers.{{fullinstancename}}.rule={% for domain_item in domains %}Host(`{{ domain_item }}`) {{ "||" if not loop.last else '' }} {% endfor %}     
        - traefik.http.routers.{{fullinstancename}}.entrypoints=web, websecure
        - traefik.http.routers.{{fullinstancename}}.tls=true
        - traefik.http.routers.{{fullinstancename}}.tls.certresolver=production
        - traefik.http.services.{{fullinstancename}}.loadbalancer.server.port=8069
    {% endif %}

  db:
    image: postgres:10.4
    container_name: {{fullinstancename_db}}
    environment:
      - POSTGRES_DB=xayma # For some reason when you put instance name the DB is not initialized. So xayma will be the postgres superuser used to initialize the odoo DB
      - POSTGRES_PASSWORD={{credentials.postgres_password}}
      - POSTGRES_USER={{credentials.postgres_user}}
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - pgdata:/var/lib/postgresql/data/pgdata

volumes:
  pgdata:
  {{ addons_volume }}:
    external: true

networks:
  frontend:
    external:
      name: {{ front_network }}